*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Inter, Helvetica, Arial, sans-serif;
}

body {
  background-color: #f1f5f9;
}

nav {
  padding: 24px;
}

nav a.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 600;
}

nav {
  width: 100%;
}

nav > div.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  padding: 48px 36px;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: white;
  font-size: 1.25rem;
}

nav ul li {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

nav ul li:last-of-type {
  margin-bottom: 0;
}

nav ul li.admin-only::after {
  margin-left: 0.75rem;
  border-radius: 0.25rem;
  padding: 0.125rem 0.375rem;
  content: '관리';
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 0.75rem;
  background-color: #2563eb;
}

main {
  min-height: 100vh;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
}

div.container {
  width: 100%;
  max-width: 1178px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background-color: #cbd5e1;
  padding: 24px 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
}

footer a.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #334155;
  font-weight: 600;
}

footer p {
  color: #64748b;
}

h1 {
  margin-bottom: 1.125rem;
  font-size: 1.5rem;
  font-weight: 600;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 0.75rem;
  font-size: 1.125rem;
  font-weight: 600;
  color: #4338ca;
}

div.event__list {
  display: flex;
  flex-direction: column;
}

a.event__item {
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  padding: 1.125rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  transition: all 0.1s linear;
}

a.event__item:hover {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
}

a.event__item:last-of-type {
  margin-bottom: 0;
}

a.event__item h2 {
  margin-top: 0;
}

div.event__item-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.event__item-details > div {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  color: gray;
}


div.event__item-participants {
  position: relative;
}

div.event__item-participants > div {
  margin-top: 0.25rem;
  border-radius: 0.25rem;
  padding: 1rem;
  background-color: #111827;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  flex-direction: column;
}

div.event__item-participants:hover > div {
  display: flex;
}

div.event__item-participants > div p {
  color: white;
  display: block;
  margin-bottom: 0.25rem;
}

div.event__item-participants > div p:last-of-type {
  margin-bottom: 0;
}

.button__back {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  color: #4338ca;
}

div.member__list {
  display: flex;
  flex-direction: column;
}

div.member__item {
  margin-bottom: 1rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

div.member__actions {
  flex-shrink: 0;
  display: flex;
}

div.member__actions button {
  flex-shrink: 0;
  margin-left: 1rem;
}

div.member__button-add {
  margin-top: 1rem;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
}

div.member__button-add select {
  margin-right: 1rem;
  flex-grow: 1;
  background-color: white;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
}

button.member__button-add {
  border-radius: 0.25rem;
  padding: 0.75rem 1.25rem;
  display: flex;
  align-items: center;
  background-color: #2563eb;
  color: white;
}

button.member__button-cancel-add {
  margin-left: 0.5rem;
  border-radius: 0.25rem;
  padding: 0.75rem 1.25rem;
  display: flex;
  align-items: center;
  background-color: #ef4444;
  color: white;
}

button .loader {
  display: none;
}

button.loading,
button:disabled {
  background-color: #94a3b8;
  cursor: default;
}

button.loading .button-icon {
  display: none;
}

button.loading .loader {
  display: block;
}

.loader {
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 2px solid #FFF;
  animation: prixClipFix 2s linear infinite ;
}

@keyframes rotate {
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

@media screen and (min-width: 768px) {
  .mobile-only {
    display: none;
  }

  nav ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    position: static;
    font-size: 1rem;
  }

  nav ul li {
    margin-right: 1.75rem;
    margin-bottom: 0;
  }

  nav ul li:last-of-type {
    margin-right: 0;
  }

  nav ul li.admin-only::after {
    display: none;
  }

  div.event__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
  }

  a.event__item {
    margin-bottom: 0;
  }

  div.member__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
  }

  div.member__item {
    margin-bottom: 0;
  }
}